<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <span>Contacto</span>
      
      <h2>Contacto</h2>

      <p>
        Déjanos tus preguntas y nos comunicaremos a la brevedad.
      </p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-6 col-md-6">
        <div class="info-box mb-6">
          <i class="bx bx-map"></i>

          <h3>Ubicacion</h3>

          <p>
            La Plata, Buenos Aires, Argentina
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="info-box mb-6">
          <i class="bx bx-envelope"></i>

          <h3>Email</h3>

          <p>{{mail}}</p>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-6">
        <iframe
          class="mb-4 mb-lg-0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52343.025421095655!2d-57.98818998788949!3d-34.92052327672038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e62b1f0085a1%3A0xbcfc44f0547312e3!2sLa%20Plata%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1590787874164!5m2!1ses-419!2sar"
          width="100%"
          height="384px"
          frameborder="0"
          style="border: 0;"
          allowfullscreen="allowfullscreen"
        ></iframe>
      </div>

      <div class="col-lg-6">

        <form class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Tu nombre"
                [(ngModel)]="name"
                data-rule="minlen:4" data-msg="Por favor ingresa un nombre"
              />

              

              <div class="validate"></div>
            </div>

            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Tu Email"
                [(ngModel)]="email"
                required
                data-rule="email" data-msg="Por favor ingresa un email valido"
              />

              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Asunto"
              [(ngModel)]="subject"
              data-rule="minlen:4" data-msg="Por favor ingresa al menos 8 carácteres"
            />

            <div class="validate"></div>
          </div>

          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Déjanos algun mensaje"
              placeholder="Mensaje"
              [(ngModel)]="message"
            ></textarea>

            

            <div class="validate"></div>
          </div>
          <div class="recaptcha">
            <re-captcha
            (resolved)="resolved($event)"
            siteKey="6LcGS_4UAAAAANIeLh3hft8K9SshK-BD38WDcbCr"
          ></re-captcha>

          </div>
            
          <div class="mb-3">
            <div class="loading">Enviando</div>

            <div *ngIf="enviado" class="sent-message" style="display: block;">
              Tu mensaje ha sido enviado. Muchas gracias!
            </div>
            <div *ngIf="error" class="sent-message" style="display: block;">
              Ocurrio un error. Intentalo mas tarde!
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-danger disabled" disabled *ngIf="!valid">Enviar Mensaje</button>
            <button (click)="enviarMail()" class="btn btn-danger" *ngIf="valid">Enviar Mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

