<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="assets/img/about3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h3>Nuestra empresa en el mundo de las soluciones web.</h3>
          <p class="font-italic">
           Alguna vez te preguntaste ¿Cuántas ventas estás perdiendo por no estar en Internet?. Seguí leyendo para conocer mas acerca de nuestro proyecto y de como podemos hacer realidad el tuyo.</p>
          <ul>
            <li><i class="icofont-check-circled"></i> ¿Estas en busca de una solución a tu presencia en la web?</li>
            <li><i class="icofont-check-circled"></i> ¿Queres que tu proyecto o empresa evolucione en una e-commerce?</li>
            <li><i class="icofont-check-circled"></i> ¿Necesitas realizarle mejoras o mantenimiento a una web antigua?</li>
          </ul>
          <p>
            Nosotros somo la solución...
          </p>
          <p>Somos un grupo de trabajo joven que amamos el diseño de paginas web.
            Nuestro desafío es crecer día a día y estar actualizado a las últimas tendencias en usabilidad, diseño y tecnología.
            Para entender el enfoque y visión de una empresa hay que sumergirse en su mundo. Por ello brindamos soluciones efectivas acordes a cada organización priorizando la imágen y la visibilidad de la misma.</p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->