<!-- ======= Header ======= -->
<app-headers></app-headers>
<!-- End Header -->


<!-- ======= Hero Section ======= -->
<app-hero></app-hero>
<!-- End Hero -->


<main id="main">

  <!-- ======= About Section ======= -->
  <app-about></app-about>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <app-cards></app-cards>
  <!-- End Why Us Section -->


  <!-- ======= Clients Section ======= -->
  <app-client></app-client>
  <!-- End Clients Section -->


  <!-- ======= Services Section ======= -->
  <app-services></app-services>
  <!-- End Services Section -->


  <!-- ======= Cta Section ======= -->
  <!-- <app-call></app-call> -->
  <!-- End Cta Section -->


  <!-- ======= Portfolio Section ======= -->
  <app-portfolio></app-portfolio>
  <!-- End Portfolio Section -->


  <!-- ======= Team Section ======= -->
  <!-- <app-team></app-team> -->
  <!-- End Team Section -->


  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->


</main>
<!-- End #main -->