<section id="why-us" class="why-us">
    <div class="container">

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up">
          <div class="box">
            <span>Paso 1</span>
            <h4>Tenemos una entrevista remota</h4>
            <p>Recolectamos toda la información necesaria acerca de tu proyecto o negocio.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
          <div class="box">
            <span>Paso 2</span>
            <h4>Desarrollamos tu proyecto web</h4>
            <p>En base a tus comentarios y nuestra experiencia, desarrollamos la herramienta mas apta para tu negocio.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <span>Paso 3</span>
            <h4>Publicamos tu nueva herramienta</h4>
            <p>Te enviaremos una muestra para tu devolución, y si todo está bien, la publicamos.</p>
          </div>
        </div>

      </div>

    </div>
  </section>